<div id="filterChildren">
    <input type="text">
    <select id="filterKey">
        <option value="">Kindergarten</option>
        <option value="">Name</option>
    </select>
    <button (click)="filterChildren()">Filter</button>
</div>

<table>
    <tr>
        <th>Name</th>
        <th>Kindergarden</th>
        <th>Adresse</th>
        <th>Alter</th>
        <th>Geburtsdatum</th>
        <th></th>
      </tr>
    <tr *ngFor="let child of storeService.children">
        <td>{{child.name}}</td>
        <td>{{child.kindergarden.name}}</td>
        <td>{{child.kindergarden.address}}</td>
        <td>{{getAge(child.birthDate)}}</td>
        <td>{{child.birthDate | date:'longDate'}}</td>
        <td>
            <button (click)="deleteChild(child.id)">X</button>
        </td>
    </tr>
</table>

<button [ngClass]="page == currentPage ? 'active' : ''" (click)="selectPage(page)" type="button" *ngFor="let page of returnAllPages() | pagination ">{{page}}</button>