button.active {
    background-color: orange;
}

.relative-loading-container{
    position: relative;
    display: flex;
}

.spinner-container{
    position: absolute;
    left: 50%;
    top: 15vh;
    transform: translate(-50%, 0%);
}

.mat-column-name {
    width: 12%;
}

.mat-column-kindergarden {
    width: 45%;
}

.mat-column-address {
    width: 20%;
}

.mat-column-birthDate {
    width: 18%;
}

.mat-column-deleteChild {
    width: 10%;
}
