<div class="container mt-4 mb-4">
    <!-- <div id="filterChildren">
        <input type="text">
        <select id="filterKey">
            <option value="">Kindergarten</option>
            <option value="">Name</option>
        </select>
        <button (click)="filterChildren()">Filter</button>
    </div> -->
    
    <table mat-table [dataSource]="children" class="mat-elevation-z8">

        <!--- Note that these columns can be defined in any order.
              The actual rendered columns are set as a property on the row definition" -->
      
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef> Name </th>
          <td mat-cell *matCellDef="let child"> {{child.name}} </td>
        </ng-container>
      
        <ng-container matColumnDef="kindergarden">
          <th mat-header-cell *matHeaderCellDef> Kindergarten </th>
          <td mat-cell *matCellDef="let child"> {{child.kindergarden.name}} </td>
        </ng-container>
      
        <ng-container matColumnDef="address">
          <th mat-header-cell *matHeaderCellDef> Adresse </th>
          <td mat-cell *matCellDef="let child"> {{child.kindergarden.address}} </td>
        </ng-container>
      
        <ng-container matColumnDef="age">
          <th mat-header-cell *matHeaderCellDef> Alter </th>
          <td mat-cell *matCellDef="let child"> {{getAge(child.birthDate)}} </td>
        </ng-container>

        <ng-container matColumnDef="birthDate">
            <th mat-header-cell *matHeaderCellDef> Geburtstag </th>
            <td mat-cell *matCellDef="let child"> {{child.birthDate | date:'longDate'}} </td>
        </ng-container>
      
        <ng-container matColumnDef="deleteChild">
            <th mat-header-cell *matHeaderCellDef> Abmelden </th>
            <td mat-cell *matCellDef="let child"> <button (click)="deleteChild(child.id)">X</button> </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
      
      

    <table>
        <tr>
            <th>Name</th>
            <th>Kindergarden</th>
            <th>Adresse</th>
            <th>Alter</th>
            <th>Geburtsdatum</th>
            <th></th>
          </tr>
        <tr *ngFor="let child of storeService.children">
            <td>{{child.name}}</td>
            <td>{{child.kindergarden.name}}</td>
            <td>{{child.kindergarden.address}}</td>
            <td>{{getAge(child.birthDate)}}</td>
            <td>{{child.birthDate | date:'longDate'}}</td>
            <td>
                <button (click)="deleteChild(child.id)">X</button>
            </td>
        </tr>
    </table>
    
    <button [ngClass]="page == currentPage ? 'active' : ''" (click)="selectPage(page)" type="button" *ngFor="let page of returnAllPages() | pagination ">{{page}}</button>
</div>
