.card-container{
    justify-content: center;
}

.kindergarden-card {
    margin: 20px;
    padding: 0 !important;
}

h1{
    font-size: large;
    font-weight: 500;
    margin-bottom: 0%;
}

h2{
    font-size: small;
    color: rgba(0, 0, 0, 0.6);
}

.badge{
    margin: 5px;
    font-size: smaller;
}